<html>
<head>
  <meta charset="utf-8">
  <title="top">
  <link rel="stylesheet" type="text/css" href="top.css">
</head>

<body>
  <header>
    <h1 class="pagetitle">
      ASTERISM
    </h1>
  <nav>
  　<ul>
  　　<li class="current"><a href="/">ホーム</a></li>
  　　<li><a href="/board/create">プロジェクト投稿</a></li>
  　　<li><a href="https://www.google.com/maps/d/u/0/viewer?hl=en&hl=en&mid=1bMoxxpNmXnsDB6QrL5Ql-0p1IrQDkQlx&ll=35.65936792394364%2C139.68504932672113&z=17">クリエイターズマップ</a></li>
  　　<li><a href="/logout">ログアウト</a></li>
  　</ul>
  </nav>
  </header>

  <div class="main">
    <div class="maincontent box-1x1">
      <div class="inner">
        <h2>プロジェクト一覧</h2>

        <div class="blist">
          <% @boards.each do |board| %>
          <% link_text = board.title+"(作成日時:"+board.created_at.to_s+")" %>
          <% link_url = "/board/"+board.id.to_s %>
          <%= link_to link_text, link_url %><br>
          <% end %>
        </div>
      <div>

        <h2>クリエイターズマップ</h2>
      <p>クリエイターズマップは、学生のクリエイティヴな活動（自主制作映画、アートプロジェクト、演劇など）において役立つ場所・施設をマーキングしたマップです。</p>
    </div>

    <div class="button">
    <a href="https://www.google.com/maps/d/u/0/viewer?hl=en&hl=en&mid=1bMoxxpNmXnsDB6QrL5Ql-0p1IrQDkQlx&ll=35.65936792394364%2C139.68504932672113&z=17" class="square_btn">マップへ</a><br>
    </div>
    </div>
    </div>

  </div>
</body>
</html>
