// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: "Anurati";
  src: font-url("/assets/Anurati-Regular.otf") format('opentype');
}
@font-face {
  font-family: "SmartFontUI";
  src: font-url("/assets/03SmartFontUI.ttf") format('truetype');
}
